$primary-color: #000000;
$secondary-color: #FFFFFF;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Kanit', sans-serif;

$text-size: (
    xlg: 2.5em,
    lg: 2em,
    md: 1.5em,
    sm: 1.2em,
    submenu-mobile: 3em,
);