/* MAIN */

body {
    grid-template-rows: 5vh 1fr 5vh;
    grid-template-areas: "header" "main" "footer";
    min-height: 100vh;
}

main {
    grid-area: main;
    justify-content: center; 
    align-items: center; 
}

/* INDEX */

.releases__button {
    font-size: map-get($text-size, xlg);
    font-family: $secondary-font;
    text-transform: uppercase;
    background-color: rgba(37, 37, 37, 0.582);
    padding: 15px 15px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    animation: 2s infinite alternate borderloop;

    &:hover + .releases__box { 
        display: block; 
        opacity: 0%;
        transform: scale(1);
        transition: all 0.4s ease-in-out;
    }
}

.releases__box {
    padding: 10px;
    width: 40vw;
    height: 40vh;
    opacity: 100%;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.849);
    color: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    transform: scale(2);
    overflow: hidden;

    &:hover { 
        display: block; 
        @include playAnimation(slidein, 1.5s);
    }

    & > h1 { 
        margin-bottom: 10px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cards__container {
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 8vw;

    &__text {
        h3 { margin-top: 5px; }
        p { margin-top: 5px; }
    }
}

.release__card--img {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}

// ALTO
@media screen and (max-height:900px) {
    .cards__container {
        font-size: 0.9em;
    }
}

@media screen and (max-height:700px) {
    body {
        grid-template-rows: 10vh 1fr 10vh;
    }
    .cards__container {
        font-size: 0.7em;
    }
}

// ANCHO
@media screen and (max-width:1700px) {
    .cards__container {
        font-size: 0.9em;
        flex-direction: row;
    }
}
@media screen and (max-width:1400px) {
    .card {
        width: 100%;
        flex-direction: row;
    }
    .card__text {
        margin-left: 10px;
    }
    .release__card--img {
        max-width: 110px;
        min-width: 110px;
        min-height: 110px;
        img {
            width: 110px;
            height: 110px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:1200px) {
    .card {
        flex-direction: row;
    }
    .card__text {
        margin-left: 10px;
    }
    .cards__container {
        flex-direction: column;
    }
    .releases__box {
        overflow-y: scroll;
    }
    body {
        grid-template-rows: 12vh 1fr 7vh;
    }
}

@media screen and (max-width:800px) {
    .card {
        flex-direction: row;
    }
    .card__text {
        margin-left: 10px;
    }
    .cards__container {
        flex-direction: column;
    }
    .release__card--img {
        max-width: 100px;
        min-width: 100px;
        min-height: 100px;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    .releases__box {
        padding: 10px;
        width: 51vw;
        height: 42vh;
        overflow-y: scroll;
        border-radius: 0px;
        & > h1 { 
            font-size: small;
        }
    }
}

@media screen and (max-width:550px) {
    .cards__container {
        flex-direction: column;
    }
    .card {
        flex-direction: column;
    }
    .release__card--img {
        max-width: 200px;
        min-width: 100%;
        min-height: 100px;
        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }
    .card__text {
        margin-left: 0px;
    }
}