/* HEADER */

header { 
    grid-area: header; 
    background-color: #000000d8;
    backdrop-filter: blur(10px);
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        justify-content: center;
    
        img {
            width: 130px;
        }
    }
}

.menu {
    font-size: map-get($text-size, md);
    text-transform: uppercase;
    gap: 15px;
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        .active { color: #ffffff; }
    
        &:not(.active) {
            color: #8f8f8f;
            transition: all 0.4s;
            &:hover { 
                color: #ffffff; 
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .menu {
        padding-top: 7px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0px;
        font-size: large;
    }
    .container { 
        padding: 0 5vw; 
    }
}